---
import Line from "../components/Line.astro";
import Link from "../components/Link.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Aviv Kandabi</title>
  </head>
  <body class="bg-slate-600">
    <Line>
      <span>Content goes here</span>
    </Line>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
</style>
