---
import App from "../components/App.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Aviv Kandabi</title>
  </head>
  <body class="bg-blue-950">
    <div class='bg-[25vw_-25vh] w-full h-full bg-gradient-radial from-blue-950 to-black'>
      <App />
    </div>
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
</style>
